{#

slug - Page slug
title - Page title
messages - Array of message arrays (type & message)
descriptions - Array of derscriptions
content - Page content

#}
<div class="wrap {{ slug }}-wrapper">
    <h2>{{ title }}</h2>

    {% if messages_by_type %}
    <div id="message">
        {% for message_type, messages in messages_by_type  %}
            <div class="{{ message_type }} notice is-dismissible">
                {% for message in messages %}
                    <p>{{ message.message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if descriptions %}
    <div class="box description">
        {% for description in descriptions %}
        <p>{{ description }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="{{ slug }}-content">
        {{ page }}
    </div>
</div>
